.partners-group{
    width: 100%;
    display: flex;
    justify-content:  space-between;
    padding-bottom: 6rem;
}

.partner{
    width: 57.5rem;
    min-height: 35rem;
    background-image: url(../../assets/parceiros.jpg);
    padding: 11.5rem 4rem 4rem 4rem;
    background-size: 100% 100%;
    border-radius: 2rem;
}

.partner h1{
    color: white;
    font-size: 4rem;
    font-weight: bold;
}

.partner p{
    color: white;
    font-size: 1.6rem;
    font-weight: 300;
    width: 18rem;
    margin-bottom: 3.2rem;
}

.partner a{
    text-align: center;
    color: white;
    padding: 1.2rem 0;
    display: block;
    text-decoration: none;
    background-color: var(--mainColor);
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: bolder;
    width: 13rem;
}



@media screen and (max-width:1170px) {
    .partner{
        width: 45%;
        min-width: 33rem;
    }

    .partners-group{
        justify-content: space-around
    }
}


@media screen and (max-width:820px){
    .partner{
        width: 75%;
        margin-bottom: 2rem;
    }

    .partner:nth-of-type(1){
        margin-bottom: 2rem;
    }

    .partners-group{
        align-items: center;
        flex-direction: column;
        padding-bottom: 4rem;
    }
}
